.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  font-size: var(--font-xl);
  letter-spacing: 1px;
  font-weight: 400;
}

.arrowIcon {
  transition: transform 0.2s;
}

.arrowIcon:hover {
  transform: translateX(4px);
}
