.appLayout {
  display: flex;
  min-height: 100vh;
}

.appBody {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
  padding: 2rem;
}
